#dashboard {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sheet {
  background-color: var(--secondary-bg);
  border-radius: .8rem;
  padding: 2rem;
}
.user-icon {
  width: 200px;
  height: 200px;
  fill: var(--success-color);

}

#main-stats {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#main-progress {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: .5rem;
}

.card {
  background-color: var(--white);
  border-radius: .8rem;
  padding: .8rem;
}

.card__header {
  font-size: 1.5rem;
  font-weight: bold;
}


.card__footer {
  display: flex;
  gap: .8rem;
  align-items: center;
  border-top: 1px solid var(--secondary-bg);
  padding-top: .5rem;
}

.card__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.card__body {
  margin: .2rem 0 1.5rem 0;
}

.chip {
  padding: .4rem .8rem;
  border-radius: 2rem;
  color: var(--white);
  font-weight: bold;
}

.chip--success {
  background-color: var(--success-color);  
}

.chip--error {
  background-color: var(--error-color);  
}


.progress {
  position: relative;
  z-index: 10;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.progress__bar {
  position: absolute;
  width: 58%;
  height: 100%;
  background-color: rgba(var(--success-color-rgb-value), 0.4);
  left: 0;
  top: 0;
  z-index: -10;
  border-radius: inherit;
}

.progress__break {
  width: 80px; 
  height: 30px;
  position: relative;
  background-color: var(--success-color);
  display: grid;
  place-items: center;
  color: var(--white);
  border-radius: 2rem;
  left: calc(100% - 35px);
  top: calc(50% - 20px);
  transform: rotate(15deg);
}

.progress__dot {
  content: '';
  position: inherit;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid var(--success-color);
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
}

.card--avatars {
  position: relative;
}


.floating-avatars {
  display: flex;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.avatar {
  width: 35px;
  height: 35px;
  background-color: var(--secondary-bg);
  border-radius: 50%;
  display: grid;
  place-items: center;
  .icon {
    font-size: 1.8rem;
    color: var(--white);
  }
}

.avatar:nth-child(1) {
  background-color: var(--primary-color);
}

.avatar:nth-child(2) {
  transform: translateX(-4px);
  background-color: var(--success-color);
}
.avatar:nth-child(3) {
  transform: translateX(-8px);
  background-color: var(--error-color);
}
.avatar:nth-child(4) {
  transform: translateX(-12px);
}

.avatar:last-child {
  .icon {
    color: var(--dark-gray);
    font-size: 1.2rem;
  }
}

.user-avatar {
  background-color: var(--primary-color);
  position: absolute;
  right: .8rem;
  width: 2.8rem;
  height: 2.8rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  .icon {
    color: var(--white);
  }
  #notifications {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--error-color);
    border-radius: 50%;
    top: -6px;
    right: -6px;
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: .8rem;
  }
}

@media screen and (min-width: 600px) {
  #main-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .progress__label {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  #dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
