:root {
  font-family: sans-serif;
}


header {
  padding: .5rem;
}

.main-menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    background-color: rgba(78, 78, 78, 0.1);
    padding: .3rem .6rem;
    border-radius: 1rem;
    transition: background-color .2s;

    &:hover {
      background-color: rgba(78, 78, 78, 0.2);
    }
  }
}